<article class="post">
    <div class="title">
        <div class="card border border-success rounded-0" style="width: 50rem;">
            <div class="card-body">
                <h5 class="card-title">{{title}}</h5>

                <p class="card-text">{{blog_content}}</p>
                <div class="meta">
                    {{user.username}} on {{format_date created_at}}
                    |
                    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
                    <a href="/dashboard/edit/{{ id }}" class="edit-link">  Edit post</a>
                </div>
                
            </div>
        </div>
    </div>
</article>